* {
    box-sizing: border-box;
    border: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #e08ed2;
}
body {
    background: url('images/seamless_background_pattern-grey.jpg') repeat fixed;
}

h1 {
    font-family: 'Righteous', cursive;
    display: block;
    text-align: center;
    font-size: 5rem;
    margin-top: 20vh;
    color: #8ec6e0;
}

#search {
    display: flex;
    justify-content: center;
}

input {
    width: 600px;
    height: 60px;
    margin: 10px;
    padding-left: 30px;
    border-radius: 50px;
    border: 2px #e08ed2 solid;
    font-size: 20px;
}

button {
    width: 150px;
    height: 60px;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    border: 2px #e08ed2 solid;
    font-size: 20px;
    font-weight: bold;
}

input:hover,
button:hover {
    border: 4px #e08ed2 solid;
}

button:disabled {
    color: #c7d0d4;
    border-color: #c7d0d4;
}

button:disabled:hover {
    border-width: 2px;
}

input::placeholder {
    color: #e08ed2;
}

.artistHeader {
    width: 100%;
}

#resultsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 15%;
}

.albumDiv {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: rgba(251, 224, 231, 0.6);
    flex: 0 1 200px;
    margin: 5px;
    border-radius: 50px;
    border: 1px solid rgba(221, 189, 197, 0.6);
    align-items: center;
}

.albumDiv:hover {
    background-color: rgba(251, 224, 231, 0.9);
    border: 2px solid rgba(221, 189, 197, 0.6);
}

.artistName,
.albumImage,
.albumName {
    padding: 5px;
}

.albumImage {
    width: 120px;
}

.albumName {
    padding-bottom: 20px;
    font-size: 12px;
    align-self: center;
}

.artistName {
    font-weight: bold;
    padding: 20px 20px 10px 20px;
    font-size: 14px;
}

.artistDiv:first-child,
.message {
    flex: 1 100%;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
}

#spinner {
    display: none;
    margin: auto;
}
